body {

    /* background: purple; */
    background-image: url("https://cdn.pixabay.com/photo/2016/10/17/11/54/mandala-1747463_1280.jpg");
    background-repeat: repeat;
    font-family:"cursive";
    font-size: 18px;
    line-height: 150%;
}

h1 { 
    color: blueviolet ;
    font-family: cursive;
    background-color:lavender;
    border: 1px color purple; */
    margin: 0;
    text-align: center; 
    padding-top: 10 px;
    padding-bottom: 10px;
    font-size: 28px; 
}

h2 {
    color: blueviolet;
    margin: 0;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
    font-family: cursive;
}

h3 {
    background: rgb(240, 187, 88);
    margin: 0;
    text-align: center;
    padding-top: 10px;
    font-family: cursive;
}
 
input#button {
    background-position: right;
   
    height: 5 px;
    width: 5 px;
}

