body {

    background: purple;
    background-image: url("https://cdn.pixabay.com/photo/2016/10/17/11/54/mandala-1747463_1280.jpg");
    background-repeat: repeat;
    font-family:"cursive";
    font-size: 18px;
    line-height: 150%;
}

h1 { 
    color: blueviolet ;
    font-family: cursive;
    background-color:lavender;
    border: 1px color purple; */
    margin: 0;
    text-align: center; 
    padding-top: 10 px;
    padding-bottom: 10px;
    font-size: 28px; 
}

h2 {
    color: blueviolet;
    margin: 0;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 45px;
    font-family: cursive;
}

h3 {
    background: rgb(238, 177, 63);
    margin: 0;
    text-align: center;
    padding-top: 10px;
    font-family: cursive;
}
 

h4 {
    background: rgb(214, 64, 164);
    margin: 0;
    text-align: center;
    padding-top: 10px;
    font-family: cursive;
    font-size: 57px;
}
/* input#button {
    
    background-position: right;
    height: 5 px;
    width: 5 px;
} */

/* .btn-xs{
    padding: 10px 20px;
    font-size 20px;
    border-radius: 10px;
    width: 10%;
} */

.btn-crystal1 {
    background-color: lavender;
    height: 850px;
    width: 850px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border-color: black;

}

.btn-crystal2 {
    background-color: lavender;
    height: 850px;
    width: 850px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border-color: black; 
}


.btn-crystal3 {
    background-color: lavender;
    height: 850px;
    width: 850px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border-color: black;
}

.btn-crystal4 {
    background-color: lavender;
    height: 850px;
    width: 850px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border-color: black;
}